@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: Roboto Condensed, 'Cambria Math';
    font-size: 22px;
    /*font-style:italic;*/
}
p 
{
    text-align:justify;
    text-indent:48px;
}
figure 
{
    text-align:center;
    font-style:italic;
    font-weight:200;
}
h1, h2, h3, h4 
{
    text-align: center;
}